<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' type='text/css' href="styles/stylesheet.css">
  <script src = "https://code.jquery.com/jquery-2.1.4.js"></script>

</head>
<body>
  <h1 style="color: blue">10 Pin Bowling Scoresheet</h1>

  <br></br>

  <form id="pins">
  How many pins?
    <input type="number" name="quantity" min="0" max="10">
    <input id="bowl" type="submit" value="Bowl!">
  </form>


<script type="text/JavaScript" src="scripts/thermostat.js"></script>
<script type="text/JavaScript" src="scripts/app.js"></script>

<!-- ANY REFERENCE TO DOCS IN SINTRA WILL AUTOMATICALLY BE LOOKED FOR IN THE PUBLIC FOLDER. -->
</body>
</html>
